@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.pageContainer {
  @include flex-center;
  background-color: $priamry_green;
  width: 1000px;
  height: 100vh;
  margin: 0;

  @media (max-width: 1100px) {
    width: 90vw;
  }

  @media (max-width: 500px) {
    width: 100vw;
  }
}

